<div class="container">

  <h1><%= @question.title %></h1>
  <div id="question-banner-ad">
    <h3>cost-effective web contracting -> $500/hour</h3>
    <p>Stay in the black with nbkincaid web services</p>
  </div>


  <%= erb :"_post", locals: {post: @question, post_type: "Question" } %>

  <ul>
    <% @question.answers.each do |answer| %>
    <% best = @question.answers.find_by(best_answer: true) %>
    <li><%= best %>
    <li>
      <%= erb :"_post", locals: { post: answer, post_type: "Answer" } %>
    </li>
    <% end %>
  </ul>

 <% if logged_in? %>
    <div class="new-answer-form">
      <h3>Your Answer</h3>
      <form action="/answers" method="POST">
        <textarea name="answer[body]"></textarea>
        <input type="hidden" name="question[id]" value="<%=@question.id%>">
        <input type="submit" value="Submit your answer">
      </form>
    </div>
    <% else %>
      <a href="/sessions/new">Log in to answer this question.</a>
  <% end %>



</div>

