<h2><%= @user.username %></h2>
<div class="container">
  <div class="profile_nav">
    <a href="#questions">Questions</a>
    <a href="#answers">Answers</a>
    <a href="#comments">Comments</a>
  </div>
  <div class="profile_content">
    <div id="questions">

      <h4><span class="count"><%=@user.questions.count%></span> Questions</h4>
      <ul class="profile-question-list">
        <% @user.questions.each do |question| %>
          <div class="row">
            <li>
            <div class = "profile-score">
              <%= Vote::tally(question) %>
              <p>Votes</p>
            </div>
            <% if question.answers.count > 0 %>
              <div class = "answered-count">
                <%= question.answers.count %>
                <p>Answers</p>
              </div>
            <% else %>
              <div class = "answer-count">
                <%= question.answers.count %>
                <p>Answers</p>
              </div>
            <% end %>
            <div class = "comment-count">
              <%= question.comments.count %>
              <p>Comments</p>
            </div>
            <div class = "profile-title">
              <a href="/questions/<%= question.id %>"><%= question.title %></a>
            </div>
              <div class = "date">
                <%= question.formatted_post_date %>
              </div>
            </li>
          </div>
        <% end %>
      </ul>

    </div>
    <div id="answers">
      <h4><span class="count"><%=@user.answers.count %></span> Answers</h4>
      <ul class="profile-answer-list">
        <% @user.answers.each do |answer| %>
          <div class="row">
            <li>
            <div class = "profile-score">
              <%= Vote::tally(answer) || 0 %>
              <p>Votes</p>
            </div>
            <div class = "comment-count">
              <%= answer.comments.count %>
              <p>Comments</p>
            </div>
              <a href="/questions/<%= answer.question.id %>"><%= answer.question.title %></a>
              <div class = "date">
                <%= answer.formatted_post_date %>
              </div>
            </li>
          </div>
        <% end %>
      </ul>

    </div>


    </div>
    <div id="comments">
      <h4><span class="count"><%=@user.comments.count %></span> Comments</h4>
      <ul class="profile-answer-list">
        <% @user.comments.each do |comment| %>
          <div class="row">
            <li>
              <div class = "profile-score">
                <%= Vote::tally(comment) || 0 %>
                <p>Votes</p>
              </div>
              <% question = Question.find(find_commentable_question_id(comment)) %>
              <a href="/questions/<%= find_commentable_question_id(comment) %>"><%= question.title %></a>
              <div class = "date">
                <%= comment.formatted_post_date %>
              </div>
            </li>
          </div>
        <% end %>
      </ul>



    </div>
  </div>
</div>
