<section id="vote-column">
  <div class="voting-area">
    <span class="up-vote">
    <%= erb :"votes/_up_vote", locals: {post: post} %>
    </span>
    <span class="score">
      <%= Vote.tally(post) %>
    </span>
    <span class="down-vote">
      <%= erb :"votes/_down_vote", locals: {post: post} %>
    </span>
  </div>
</section>

<section id="post-content">
  <div id="body-<%= post.id %>" class="post-body">
    <span><%= post.body %></span>
    <% if post_type == "Question" %>
    <div class="post-author question-author-box">
      asked
    <% else %>
    <div class="post-author">
      answered
    <% end %>
      on <%= post.formatted_post_date %>
      <p><a href="/users/<%= post.author_id %>"><%= post.author_username %></a></p>
    </div>
  </div>
  <div id="<%= post.id %>" class="edit-answer-button" >
  <% if logged_in? && user_is_author(post.author_id) && post_type == "Answer"%>
    <a href="/answers/<%=post.id%>/edit">Edit</a>
    <form action="/answers" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="answer" value="<%=post.id%>">
      <input type="submit" value="DELETE">
    </form>
  <% end %>
  </div>
  <div class="post-comments">
    <ul>
    <% post.comments.each do |comment| %>
      <%= erb :"comments/_listing", locals: {comment: comment} %>
    <% end %>
    </ul>
    <% if logged_in? %>
      <form id="post-comment-<%= post.id%>" class="add-comment-form" action="/comments" method="POST">
        <input type="hidden" name="comment[commentable_type]" value="<%= post_type %>" />
        <input type="hidden" name="comment[commentable_id]" value="<%= post.id %>" />
        <textarea rows="2" cols="30" name="comment[body]" placeholder="New comment"></textarea>
        <input type="submit" value="Submit">
      </form>
    <% end %>
  </div>
</section>

