  <% if logged_in? %>
   <% if match_voter_id(post) && find_vote_value(post) == 1 %>
    <form action="/votes/<%= find_vote(post).id%>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="vote[votable_id]" value="<%=post.id%>">
      <input type="hidden" name="vote[votable_type]" value="<%=post.class%>">
      <input type="hidden" name="vote[voter_id]" value="<%=current_user.id%>">

      <button type="submit" class="up_arrow" id="font-awe-button">
        <span class="fa fa-caret-up fa-2x"></span>
      </button>
      <!-- <input class="up_arrow_highlight" type="submit" value="UP1"> -->
    </form>
   <% elsif match_voter_id(post) && find_vote_value(post) == -1 %>
    <form action="/votes/<%= find_vote(post).id%>" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="vote[votable_id]" value="<%=post.id%>">
      <input type="hidden" name="vote[votable_type]" value="<%=post.class%>">
      <input type="hidden" name="vote[voter_id]" value="<%=current_user.id%>">
      <input type="hidden" name="vote[value]" value="1">

      <button type="submit" class="up_arrow" id="font-awe-button">
        <span class="fa fa-caret-up fa-2x"></span>
      </button>
      <!-- <input class="up_arrow" type="submit" value="UP2"> -->
    </form>

   <% else %>
    <form action="/votes" method="POST">
      <input type="hidden" name="vote[votable_id]" value="<%=post.id%>">
      <input type="hidden" name="vote[votable_type]" value="<%=post.class%>">
      <input type="hidden" name="vote[voter_id]" value="<%=current_user.id%>">
      <input type="hidden" name="vote[value]" value="1">

      <button type="submit" class="up_arrow" id="font-awe-button">
        <span class="fa fa-caret-up fa-2x"></span>
      </button>
      <!-- <input class="up_arrow" type="submit" value="UP3"> -->
    </form>
  <% end %>
<% end %>
